$color: green;
$borderSize: 5px;

@mixin setDecoration($decoration) {
    text-decoration: $decoration;
}

.my-paragraph {
    font-size: 20px;
    text-align: justify;

    padding: 10px;
    border: $borderSize solid $color;
    border-radius: 10px;
    margin: 15px;
    margin-top: 30px;

    position: relative;
    display: block;
    height: 1000px;

    @include setDecoration(underline);

    b {
        // .my-paragraph b
        color: $color;
    }

    &:hover {
        // .my-paragraph:hover
        background: #ccc;
    }
}

b {
    @include setDecoration(underline dotted);
}
