* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "myfont", "Roboto", "Times New Roman" ;
}

.times {
    font-family: "Times New Roman";
}

b {
    color: red;
}

#heading1 {
    text-decoration: underline;
}

img {
    width: 250px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    position: sticky;
    top: 10px;
}

.col {
    width: 50%;
    float: left;
}
